html {
  font-size: 20px; 
  font-family: 'Manrope', manrope;
}

canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

a {
  font-size: 200px; 
  position: absolute;
  left: 10px;
  top: 2100px;
}