html {
  font-size: 20px; 
  font-family: 'Manrope', manrope;
}

h1 {
  font-size: 100px;
  text-align: left;
}

p, li {
  font-size: 30px;
  /*line-height: 2;
  letter-spacing: 1px;*/
}


h2 {
  font-size: 240px;
  text-align: left;
}